{% ckan_extends %}
{% set subtitle = h.markdown_extract(package.subtitle, extract_length=truncate) %}
{% set author = h.markdown_extract(package.author, extract_length=truncate) %}
{% set repo = package.repo %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 style =" line-height: 125%;font-size: 22px;font-weight: bold;text-rendering: optimizelegibility;font-family: OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-important">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h3>

        {% endblock %}
        {% block banner %}
          {{ super() }}
        {% endblock %}
        {% block notes %}
          <div>
              <p style="color: #999; font-size: 20px; font-weight: bold;     text-rendering: optimizelegibility;line-height: 20px; margin-top:3px; font-family: OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif; display: inline;">
                {{repo}}
              </p>
              {% if author %}
              <p style="color: #999; font-size: 15px; font-weight: bold;     text-rendering: optimizelegibility;line-height: 20px; margin-top:3px; font-family: OpenSans,Helvetica Neue,Helvetica,Arial,sans-serif; display: inline;">
                 by {{ author|urlize }}
              </p>
              {% endif %}
          </div>

          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% endif %}

        {% endblock %}
      </div>
      {% block resources %}
          {{ super() }}
      {% endblock %}
    {% endblock %}
  </li>
{% endblock %}